.footer{
    position: absolute;
    bottom: 90px;
}

.copyright{
    font-family: 'GHEA Grapalat';
    font-size: 12px;
    text-transform: uppercase;
    bottom: 0;
    float: left;
    color: #FF69B4;
}
.privacy{
    font-family: 'GHEA Grapalat';
    font-size: 12px;
    color: #EEEBE6;
    margin-left: 208px;
    text-transform: uppercase;
    text-decoration: none;
}

@media screen and (max-width: 1080px) {
    .footer{
        width: calc(100% - 86px);
    }
    .privacy{
        float: right;
        margin-right: 86px;
        margin-left: 0;
    }
}
@media screen and (max-width: 570px) {
    .footer{
        display: flex;
        flex-direction: column;
        bottom: 48px;
    }
    .privacy{
        float: left;
        margin-right: auto;
        margin-left: 0;
        margin-top: 24px;
    }
}